.aboutMe {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 100px;
  max-width: 1600px;
  margin: 100px auto;
}
.aboutMe_img {
  width: 650px;
}
.aboutMe_img img {
  max-width: 100%;
}
.aboutMe_content {
  width: 530px;
  padding: 0 20px;
}
.aboutMe_title {
  text-transform: capitalize;
  font-size: 45px;
  margin: 10px;
}
.aboutMe_subtitle {
  margin: 10px;
}
.aboutMe_text {
  margin: 10px;
}
@media (max-width: 1440px) {
  .aboutMe_img {
    width: 550px;
  }
}
@media (max-width: 768px) {
  .aboutMe {
    flex-wrap: wrap;
  }
  .aboutMe_img {
    margin: 20px auto;
  }
  .aboutMe_content {
    margin: 0 auto;
    padding: 0 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .aboutMe_title {
    font-size: 40px;
  }
}

/*MOVIL GRANDE*/
@media (max-width: 425px) {
  .aboutMe {
    flex-wrap: wrap;
  }
  .aboutMe_img {
    width: 350px;
  }
  .aboutMe_content {
    width: 350px;
  }
}
