.product_main {
  padding-top: 100px;
  display: flex;
  flex-direction: column;
}
.btn-return {
  margin: 20px auto;
  background-color: white;
  padding: 10px;
  width: fit-content;
  border-radius: 5px;
}
.btn-return a {
  text-decoration: none;
  color: black;
  font-weight: bold;
}
.product {
  width: 100vw;
  height: 400px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.swiper {
  width: 40%;
  height: 100%;
  margin: 0;
  border-radius: 10px;
}
.product_img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.product_inf {
  width: 40%;
}
.product_title {
  font-size: 35px;
}
.product_price {
  font-size: 25px;
  margin: 10px 0;
}
.btn--product {
  margin: 10px 0;
}
.product_text {
  color: rgba(255, 255, 255, 0.425);
}

/* MOVIL GRANDE */
@media (max-width: 425px) {
  .product {
    flex-direction: column;
    height: 700px;
  }
  .swiper {
    width: 300px;
  }
  .product_inf {
    width: 300px;
  }
  .swiper-button-prev {
    display: none;
  }
  .swiper-button-next {
    display: none;
  }
}
